In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [ ]:
prev = pd.read_csv(r"C:\Users\Admin\Downloads\final_dataprep\dseb63_final_project_DP_dataset\dseb63_previous_application.csv")
prev

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
0,2030495,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.000000,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0,293189
1,1696966,Consumer loans,68258.655,1800000.0,1754721.0,180000.0,1800000.0,SATURDAY,18,Y,1,0.101325,NaN,NaN,XAP,Refused,-472,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,55,Furniture,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
2,2154916,Consumer loans,12417.390,108400.5,119848.5,0.0,108400.5,SUNDAY,14,Y,1,0.000000,NaN,NaN,XAP,Approved,-548,Cash through the bank,XAP,NaN,New,Furniture,POS,XNA,Stone,196,Furniture,12.0,middle,POS industry with interest,365243.0,-512.0,-182.0,-392.0,-387.0,0.0,293189
3,2802425,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0,91587
4,1536272,Cash loans,21709.125,450000.0,512370.0,NaN,450000.0,WEDNESDAY,9,Y,1,NaN,NaN,NaN,XNA,Approved,-515,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),6,XNA,36.0,low_normal,Cash X-Sell: low,365243.0,-485.0,565.0,-155.0,-147.0,1.0,91587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413696,1261221,Consumer loans,6030.675,133866.0,133866.0,0.0,133866.0,SATURDAY,15,Y,1,0.000000,NaN,NaN,XAP,Approved,-832,Cash through the bank,XAP,Unaccompanied,New,Consumer Electronics,POS,XNA,Regional / Local,200,Consumer electronics,24.0,low_action,POS household without interest,365243.0,-801.0,-111.0,-531.0,-518.0,0.0,302680
1413697,1563733,Consumer loans,13726.080,137250.0,123525.0,13725.0,137250.0,SATURDAY,14,Y,1,0.108909,NaN,NaN,XAP,Approved,-495,Cash through the bank,XAP,NaN,New,Audio/Video,POS,XNA,Stone,154,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-464.0,-194.0,-194.0,-186.0,0.0,192560
1413698,2319569,Consumer loans,4716.495,46800.0,46800.0,0.0,46800.0,FRIDAY,9,Y,1,0.000000,NaN,NaN,XAP,Approved,-160,Cash through the bank,XAP,Unaccompanied,New,Construction Materials,POS,XNA,Regional / Local,50,Construction,12.0,middle,POS industry with interest,365243.0,-119.0,211.0,365243.0,365243.0,0.0,91682
1413699,2829648,Consumer loans,10301.940,101745.0,112491.0,0.0,101745.0,FRIDAY,12,Y,1,0.000000,NaN,NaN,XAP,Approved,-560,Cash through the bank,XAP,NaN,New,Consumer Electronics,POS,XNA,Regional / Local,140,Consumer electronics,12.0,low_action,POS household without interest,365243.0,-529.0,-199.0,-199.0,-194.0,0.0,126653
1413700,1944034,Cash loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

In [5]:
prev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1413701 non-null  int64
 1   NAME_CONTRACT_TYPE           1413701 non-null  object
 2   AMT_ANNUITY                  1106483 non-null  float64
 3   AMT_APPLICATION              1413701 non-null  float64
 4   AMT_CREDIT                   1413700 non-null  float64
 5   AMT_DOWN_PAYMENT             664161 non-null   float64
 6   AMT_GOODS_PRICE              1094176 non-null  float64
 7   WEEKDAY_APPR_PROCESS_START   1413701 non-null  object
 8   HOUR_APPR_PROCESS_START      1413701 non-null  int64
 9   FLAG_LAST_APPL_PER_CONTRACT  1413701 non-null  object
 10  NFLAG_LAST_APPL_IN_DAY       1413701 non-null  int64
 11  RATE_DOWN_PAYMENT            664161 non-null   float64
 12  RATE_INTEREST_PRIMARY        4791 non-null     float64
 13  RATE_INTEREST_PRIVILEGED     4791 non-null     float64
 14  NAME_CASH_LOAN_PURPOSE       1413701 non-null  object
 15  NAME_CONTRACT_STATUS         1413701 non-null  object
 16  DAYS_DECISION                1413701 non-null  int64
 17  NAME_PAYMENT_TYPE            1413701 non-null  object
 18  CODE_REJECT_REASON           1413701 non-null  object
 19  NAME_TYPE_SUITE              719029 non-null   object
 20  NAME_CLIENT_TYPE             1413701 non-null  object
 21  NAME_GOODS_CATEGORY          1413701 non-null  object
 22  NAME_PORTFOLIO               1413701 non-null  object
 23  NAME_PRODUCT_TYPE            1413701 non-null  object
 24  CHANNEL_TYPE                 1413701 non-null  object
 25  SELLERPLACE_AREA             1413701 non-null  int64
 26  NAME_SELLER_INDUSTRY         1413701 non-null  object
 27  CNT_PAYMENT                  1106488 non-null  float64
 28  NAME_YIELD_GROUP             1413701 non-null  object
 29  PRODUCT_COMBINATION          1413388 non-null  object
 30  DAYS_FIRST_DRAWING           852595 non-null   float64
 31  DAYS_FIRST_DUE               852595 non-null   float64
 32  DAYS_LAST_DUE_1ST_VERSION    852595 non-null   float64
 33  DAYS_LAST_DUE                852595 non-null   float64
 34  DAYS_TERMINATION             852595 non-null   float64
 35  NFLAG_INSURED_ON_APPROVAL    852595 non-null   float64
 36  SK_ID_CURR                   1413701 non-null  int64
dtypes: float64(15), int64(6), object(16)
memory usage: 399.1+ MB

In [6]:
prev['NAME_CONTRACT_TYPE'].unique()

array(['Consumer loans', 'Cash loans', 'Revolving loans', 'XNA'],
      dtype=object)

In [8]:
prev[~prev['AMT_DOWN_PAYMENT'].isna()][['AMT_ANNUITY','AMT_APPLICATION','AMT_CREDIT','AMT_DOWN_PAYMENT','AMT_GOODS_PRICE','RATE_DOWN_PAYMENT','RATE_INTEREST_PRIMARY','RATE_INTEREST_PRIVILEGED']]

,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED
0,1730.430,17145.0,17145.0,0.0,17145.0,0.000000,0.182832,0.867336
1,68258.655,1800000.0,1754721.0,180000.0,1800000.0,0.101325,NaN,NaN
2,12417.390,108400.5,119848.5,0.0,108400.5,0.000000,NaN,NaN
5,4830.930,47250.0,23688.0,24750.0,47250.0,0.556485,NaN,NaN
6,6664.275,71352.0,71352.0,0.0,71352.0,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...
1413695,3190.185,29475.0,28714.5,2947.5,29475.0,0.101386,NaN,NaN
1413696,6030.675,133866.0,133866.0,0.0,133866.0,0.000000,NaN,NaN
1413697,13726.080,137250.0,123525.0,13725.0,137250.0,0.108909,NaN,NaN
1413698,4716.495,46800.0,46800.0,0.0,46800.0,0.000000,NaN,NaN
1413699,10301.940,101745.0,112491.0,0.0,101745.0,0.000000,NaN,NaN

In [9]:
print(prev.isnull().sum()[prev.isnull().sum() > 0])

AMT_ANNUITY                   307218
AMT_CREDIT                         1
AMT_DOWN_PAYMENT              749540
AMT_GOODS_PRICE               319525
RATE_DOWN_PAYMENT             749540
RATE_INTEREST_PRIMARY        1408910
RATE_INTEREST_PRIVILEGED     1408910
NAME_TYPE_SUITE               694672
CNT_PAYMENT                   307213
PRODUCT_COMBINATION              313
DAYS_FIRST_DRAWING            561106
DAYS_FIRST_DUE                561106
DAYS_LAST_DUE_1ST_VERSION     561106
DAYS_LAST_DUE                 561106
DAYS_TERMINATION              561106
NFLAG_INSURED_ON_APPROVAL     561106
dtype: int64

In [17]:
prev[prev['NAME_TYPE_SUITE'].isna()]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
0,2030495,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.000000,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,NaN,-42.0,300.0,-42.0,-37.0,0.0,293189
1,1696966,Consumer loans,68258.655,1800000.0,1754721.0,180000.0,1800000.0,SATURDAY,18,Y,1,0.101325,NaN,NaN,XAP,Refused,-472,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,55,Furniture,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
2,2154916,Consumer loans,12417.390,108400.5,119848.5,0.0,108400.5,SUNDAY,14,Y,1,0.000000,NaN,NaN,XAP,Approved,-548,Cash through the bank,XAP,NaN,New,Furniture,POS,XNA,Stone,196,Furniture,12.0,middle,POS industry with interest,NaN,-512.0,-182.0,-392.0,-387.0,0.0,293189
4,1536272,Cash loans,21709.125,450000.0,512370.0,NaN,450000.0,WEDNESDAY,9,Y,1,NaN,NaN,NaN,XNA,Approved,-515,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),6,XNA,36.0,low_normal,Cash X-Sell: low,NaN,-485.0,565.0,-155.0,-147.0,1.0,91587
7,2517198,Revolving loans,11250.000,0.0,225000.0,NaN,NaN,TUESDAY,13,Y,1,NaN,NaN,NaN,XAP,Approved,-957,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card X-Sell,-713.0,-673.0,NaN,-461.0,-61.0,0.0,91587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413689,1944678,Consumer loans,13627.665,62950.5,66276.0,0.0,62950.5,WEDNESDAY,8,Y,1,0.000000,NaN,NaN,XAP,Approved,-877,XNA,XAP,NaN,New,Mobile,POS,XNA,Country-wide,40,Connectivity,6.0,high,POS mobile with interest,NaN,-831.0,-681.0,-681.0,-677.0,0.0,91409
1413694,2583449,Cash loans,78879.195,337500.0,388989.0,NaN,337500.0,THURSDAY,13,Y,1,NaN,NaN,NaN,Journey,Approved,-621,Cash through the bank,XAP,NaN,New,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,6.0,high,Cash Street: high,NaN,-591.0,-441.0,-441.0,-435.0,1.0,111891
1413697,1563733,Consumer loans,13726.080,137250.0,123525.0,13725.0,137250.0,SATURDAY,14,Y,1,0.108909,NaN,NaN,XAP,Approved,-495,Cash through the bank,XAP,NaN,New,Audio/Video,POS,XNA,Stone,154,Consumer electronics,10.0,low_normal,POS household with interest,NaN,-464.0,-194.0,-194.0,-186.0,0.0,192560
1413699,2829648,Consumer loans,10301.940,101745.0,112491.0,0.0,101745.0,FRIDAY,12,Y,1,0.000000,NaN,NaN,XAP,Approved,-560,Cash through the bank,XAP,NaN,New,Consumer Electronics,POS,XNA,Regional / Local,140,Consumer electronics,12.0,low_action,POS household without interest,NaN,-529.0,-199.0,-199.0,-194.0,0.0,126653
1413700,1944034,Cash loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

## Check columns with the same amount of Nan values

In [8]:
prev[(prev['NAME_CONTRACT_STATUS'].isin(['Refused', 'Canceled'])) & prev['DAYS_FIRST_DUE'].isna()]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
1,1696966,Consumer loans,68258.655,1800000.00,1754721.0,180000.00,1800000.00,SATURDAY,18,Y,1,0.101325,NaN,NaN,XAP,Refused,-472,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,55,Furniture,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
12,1200676,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,256489
14,1066767,Cash loans,44223.030,540000.00,612931.5,NaN,540000.00,FRIDAY,9,Y,1,NaN,NaN,NaN,XNA,Refused,-991,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN,298048
17,1886446,Cash loans,19684.800,180000.00,180000.0,0.00,180000.00,TUESDAY,8,Y,1,0.000000,NaN,NaN,XNA,Refused,-2415,Cash through the bank,HC,NaN,Repeater,XNA,Cash,x-sell,Country-wide,10,Consumer electronics,12.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,298048
18,2581058,Consumer loans,10519.965,105214.95,94689.0,10525.95,105214.95,MONDAY,7,Y,1,0.108955,NaN,NaN,XAP,Refused,-2640,Cash through the bank,SCO,Unaccompanied,Repeater,XNA,POS,XNA,Stone,100,Consumer electronics,10.0,low_normal,POS household without interest,NaN,NaN,NaN,NaN,NaN,NaN,298048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413437,2653875,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,9,Y,1,NaN,NaN,NaN,XNA,Canceled,-16,XNA,XAP,NaN,New,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,211397
1413522,2018840,Consumer loans,102068.685,995598.00,995598.0,0.00,995598.00,SUNDAY,17,Y,1,0.000000,NaN,NaN,XAP,Refused,-801,Cash through the bank,HC,NaN,Refreshed,Furniture,POS,XNA,Stone,28,Furniture,12.0,middle,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,186279
1413581,2615053,Consumer loans,14593.815,174654.00,205546.5,0.00,174654.00,MONDAY,8,Y,1,0.000000,NaN,NaN,XAP,Refused,-1442,Cash through the bank,HC,Unaccompanied,Repeater,Consumer Electronics,POS,XNA,Country-wide,2300,Consumer electronics,24.0,high,POS household with interest,NaN,NaN,NaN,NaN,NaN,NaN,98464
1413651,1478908,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,17,Y,1,NaN,NaN,NaN,XNA,Canceled,-194,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,99821
1413700,1944034,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

In [9]:
prev[(prev['NAME_CONTRACT_STATUS'].isin(['Refused', 'Canceled'])) & prev['DAYS_FIRST_DRAWING'].isna()]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
1,1696966,Consumer loans,68258.655,1800000.00,1754721.0,180000.00,1800000.00,SATURDAY,18,Y,1,0.101325,NaN,NaN,XAP,Refused,-472,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,55,Furniture,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
12,1200676,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,256489
14,1066767,Cash loans,44223.030,540000.00,612931.5,NaN,540000.00,FRIDAY,9,Y,1,NaN,NaN,NaN,XNA,Refused,-991,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN,298048
17,1886446,Cash loans,19684.800,180000.00,180000.0,0.00,180000.00,TUESDAY,8,Y,1,0.000000,NaN,NaN,XNA,Refused,-2415,Cash through the bank,HC,NaN,Repeater,XNA,Cash,x-sell,Country-wide,10,Consumer electronics,12.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,298048
18,2581058,Consumer loans,10519.965,105214.95,94689.0,10525.95,105214.95,MONDAY,7,Y,1,0.108955,NaN,NaN,XAP,Refused,-2640,Cash through the bank,SCO,Unaccompanied,Repeater,XNA,POS,XNA,Stone,100,Consumer electronics,10.0,low_normal,POS household without interest,NaN,NaN,NaN,NaN,NaN,NaN,298048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413437,2653875,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,9,Y,1,NaN,NaN,NaN,XNA,Canceled,-16,XNA,XAP,NaN,New,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,211397
1413522,2018840,Consumer loans,102068.685,995598.00,995598.0,0.00,995598.00,SUNDAY,17,Y,1,0.000000,NaN,NaN,XAP,Refused,-801,Cash through the bank,HC,NaN,Refreshed,Furniture,POS,XNA,Stone,28,Furniture,12.0,middle,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,186279
1413581,2615053,Consumer loans,14593.815,174654.00,205546.5,0.00,174654.00,MONDAY,8,Y,1,0.000000,NaN,NaN,XAP,Refused,-1442,Cash through the bank,HC,Unaccompanied,Repeater,Consumer Electronics,POS,XNA,Country-wide,2300,Consumer electronics,24.0,high,POS household with interest,NaN,NaN,NaN,NaN,NaN,NaN,98464
1413651,1478908,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,17,Y,1,NaN,NaN,NaN,XNA,Canceled,-194,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,99821
1413700,1944034,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

In [10]:
prev[(prev['NAME_CONTRACT_STATUS'].isin(['Refused', 'Canceled'])) & prev['DAYS_LAST_DUE_1ST_VERSION'].isna()]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
1,1696966,Consumer loans,68258.655,1800000.00,1754721.0,180000.00,1800000.00,SATURDAY,18,Y,1,0.101325,NaN,NaN,XAP,Refused,-472,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,55,Furniture,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
12,1200676,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,256489
14,1066767,Cash loans,44223.030,540000.00,612931.5,NaN,540000.00,FRIDAY,9,Y,1,NaN,NaN,NaN,XNA,Refused,-991,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN,298048
17,1886446,Cash loans,19684.800,180000.00,180000.0,0.00,180000.00,TUESDAY,8,Y,1,0.000000,NaN,NaN,XNA,Refused,-2415,Cash through the bank,HC,NaN,Repeater,XNA,Cash,x-sell,Country-wide,10,Consumer electronics,12.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,298048
18,2581058,Consumer loans,10519.965,105214.95,94689.0,10525.95,105214.95,MONDAY,7,Y,1,0.108955,NaN,NaN,XAP,Refused,-2640,Cash through the bank,SCO,Unaccompanied,Repeater,XNA,POS,XNA,Stone,100,Consumer electronics,10.0,low_normal,POS household without interest,NaN,NaN,NaN,NaN,NaN,NaN,298048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413437,2653875,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,9,Y,1,NaN,NaN,NaN,XNA,Canceled,-16,XNA,XAP,NaN,New,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,211397
1413522,2018840,Consumer loans,102068.685,995598.00,995598.0,0.00,995598.00,SUNDAY,17,Y,1,0.000000,NaN,NaN,XAP,Refused,-801,Cash through the bank,HC,NaN,Refreshed,Furniture,POS,XNA,Stone,28,Furniture,12.0,middle,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,186279
1413581,2615053,Consumer loans,14593.815,174654.00,205546.5,0.00,174654.00,MONDAY,8,Y,1,0.000000,NaN,NaN,XAP,Refused,-1442,Cash through the bank,HC,Unaccompanied,Repeater,Consumer Electronics,POS,XNA,Country-wide,2300,Consumer electronics,24.0,high,POS household with interest,NaN,NaN,NaN,NaN,NaN,NaN,98464
1413651,1478908,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,17,Y,1,NaN,NaN,NaN,XNA,Canceled,-194,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,99821
1413700,1944034,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

In [11]:
prev[(prev['NAME_CONTRACT_STATUS'].isin(['Refused', 'Canceled'])) & prev['DAYS_LAST_DUE'].isna()]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
1,1696966,Consumer loans,68258.655,1800000.00,1754721.0,180000.00,1800000.00,SATURDAY,18,Y,1,0.101325,NaN,NaN,XAP,Refused,-472,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,55,Furniture,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
12,1200676,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,256489
14,1066767,Cash loans,44223.030,540000.00,612931.5,NaN,540000.00,FRIDAY,9,Y,1,NaN,NaN,NaN,XNA,Refused,-991,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN,298048
17,1886446,Cash loans,19684.800,180000.00,180000.0,0.00,180000.00,TUESDAY,8,Y,1,0.000000,NaN,NaN,XNA,Refused,-2415,Cash through the bank,HC,NaN,Repeater,XNA,Cash,x-sell,Country-wide,10,Consumer electronics,12.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,298048
18,2581058,Consumer loans,10519.965,105214.95,94689.0,10525.95,105214.95,MONDAY,7,Y,1,0.108955,NaN,NaN,XAP,Refused,-2640,Cash through the bank,SCO,Unaccompanied,Repeater,XNA,POS,XNA,Stone,100,Consumer electronics,10.0,low_normal,POS household without interest,NaN,NaN,NaN,NaN,NaN,NaN,298048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413437,2653875,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,9,Y,1,NaN,NaN,NaN,XNA,Canceled,-16,XNA,XAP,NaN,New,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,211397
1413522,2018840,Consumer loans,102068.685,995598.00,995598.0,0.00,995598.00,SUNDAY,17,Y,1,0.000000,NaN,NaN,XAP,Refused,-801,Cash through the bank,HC,NaN,Refreshed,Furniture,POS,XNA,Stone,28,Furniture,12.0,middle,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,186279
1413581,2615053,Consumer loans,14593.815,174654.00,205546.5,0.00,174654.00,MONDAY,8,Y,1,0.000000,NaN,NaN,XAP,Refused,-1442,Cash through the bank,HC,Unaccompanied,Repeater,Consumer Electronics,POS,XNA,Country-wide,2300,Consumer electronics,24.0,high,POS household with interest,NaN,NaN,NaN,NaN,NaN,NaN,98464
1413651,1478908,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,17,Y,1,NaN,NaN,NaN,XNA,Canceled,-194,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,99821
1413700,1944034,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

In [13]:
prev[(prev['NAME_CONTRACT_STATUS'].isin(['Refused', 'Canceled'])) & prev['DAYS_TERMINATION'].isna()]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
1,1696966,Consumer loans,68258.655,1800000.00,1754721.0,180000.00,1800000.00,SATURDAY,18,Y,1,0.101325,NaN,NaN,XAP,Refused,-472,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,55,Furniture,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
12,1200676,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,256489
14,1066767,Cash loans,44223.030,540000.00,612931.5,NaN,540000.00,FRIDAY,9,Y,1,NaN,NaN,NaN,XNA,Refused,-991,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN,298048
17,1886446,Cash loans,19684.800,180000.00,180000.0,0.00,180000.00,TUESDAY,8,Y,1,0.000000,NaN,NaN,XNA,Refused,-2415,Cash through the bank,HC,NaN,Repeater,XNA,Cash,x-sell,Country-wide,10,Consumer electronics,12.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,298048
18,2581058,Consumer loans,10519.965,105214.95,94689.0,10525.95,105214.95,MONDAY,7,Y,1,0.108955,NaN,NaN,XAP,Refused,-2640,Cash through the bank,SCO,Unaccompanied,Repeater,XNA,POS,XNA,Stone,100,Consumer electronics,10.0,low_normal,POS household without interest,NaN,NaN,NaN,NaN,NaN,NaN,298048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413437,2653875,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,9,Y,1,NaN,NaN,NaN,XNA,Canceled,-16,XNA,XAP,NaN,New,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,211397
1413522,2018840,Consumer loans,102068.685,995598.00,995598.0,0.00,995598.00,SUNDAY,17,Y,1,0.000000,NaN,NaN,XAP,Refused,-801,Cash through the bank,HC,NaN,Refreshed,Furniture,POS,XNA,Stone,28,Furniture,12.0,middle,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,186279
1413581,2615053,Consumer loans,14593.815,174654.00,205546.5,0.00,174654.00,MONDAY,8,Y,1,0.000000,NaN,NaN,XAP,Refused,-1442,Cash through the bank,HC,Unaccompanied,Repeater,Consumer Electronics,POS,XNA,Country-wide,2300,Consumer electronics,24.0,high,POS household with interest,NaN,NaN,NaN,NaN,NaN,NaN,98464
1413651,1478908,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,17,Y,1,NaN,NaN,NaN,XNA,Canceled,-194,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,99821
1413700,1944034,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

In [14]:
prev[(prev['NAME_CONTRACT_STATUS'].isin(['Refused', 'Canceled'])) & prev['NFLAG_INSURED_ON_APPROVAL'].isna()]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
1,1696966,Consumer loans,68258.655,1800000.00,1754721.0,180000.00,1800000.00,SATURDAY,18,Y,1,0.101325,NaN,NaN,XAP,Refused,-472,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,55,Furniture,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
12,1200676,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,256489
14,1066767,Cash loans,44223.030,540000.00,612931.5,NaN,540000.00,FRIDAY,9,Y,1,NaN,NaN,NaN,XNA,Refused,-991,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN,298048
17,1886446,Cash loans,19684.800,180000.00,180000.0,0.00,180000.00,TUESDAY,8,Y,1,0.000000,NaN,NaN,XNA,Refused,-2415,Cash through the bank,HC,NaN,Repeater,XNA,Cash,x-sell,Country-wide,10,Consumer electronics,12.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,298048
18,2581058,Consumer loans,10519.965,105214.95,94689.0,10525.95,105214.95,MONDAY,7,Y,1,0.108955,NaN,NaN,XAP,Refused,-2640,Cash through the bank,SCO,Unaccompanied,Repeater,XNA,POS,XNA,Stone,100,Consumer electronics,10.0,low_normal,POS household without interest,NaN,NaN,NaN,NaN,NaN,NaN,298048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413437,2653875,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,9,Y,1,NaN,NaN,NaN,XNA,Canceled,-16,XNA,XAP,NaN,New,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,211397
1413522,2018840,Consumer loans,102068.685,995598.00,995598.0,0.00,995598.00,SUNDAY,17,Y,1,0.000000,NaN,NaN,XAP,Refused,-801,Cash through the bank,HC,NaN,Refreshed,Furniture,POS,XNA,Stone,28,Furniture,12.0,middle,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,186279
1413581,2615053,Consumer loans,14593.815,174654.00,205546.5,0.00,174654.00,MONDAY,8,Y,1,0.000000,NaN,NaN,XAP,Refused,-1442,Cash through the bank,HC,Unaccompanied,Repeater,Consumer Electronics,POS,XNA,Country-wide,2300,Consumer electronics,24.0,high,POS household with interest,NaN,NaN,NaN,NaN,NaN,NaN,98464
1413651,1478908,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,17,Y,1,NaN,NaN,NaN,XNA,Canceled,-194,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,99821
1413700,1944034,Cash loans,NaN,0.00,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

### $\rightarrow$ If the contract status is Refused or Canceled, columns such as DAYS_FIRST_DRAWING, DAYS_FIRST_DUE, DAYS_LAST_DUE_1ST_VERSION, DAYS_LAST_DUE, DAYS_TERMINATION, and NFLAG_INSURED_ON_APPROVAL (which refer to the dates of disbursement or payment) will have values of NaN.

In [ ]:
# Exist value: 365243 which is error value
prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_20412\3494792854.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_20412\3494792854.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_20412\3494792854.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_20412\3494792854.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_20412\3494792854.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)

In [11]:
print(prev.isnull().sum()[prev.isnull().sum() > 0])

AMT_ANNUITY                   307218
AMT_CREDIT                         1
AMT_DOWN_PAYMENT              749540
AMT_GOODS_PRICE               319525
RATE_DOWN_PAYMENT             749540
RATE_INTEREST_PRIMARY        1408910
RATE_INTEREST_PRIVILEGED     1408910
NAME_TYPE_SUITE               694672
CNT_PAYMENT                   307213
PRODUCT_COMBINATION              313
DAYS_FIRST_DRAWING           1360200
DAYS_FIRST_DUE                595068
DAYS_LAST_DUE_1ST_VERSION     640205
DAYS_LAST_DUE                 741898
DAYS_TERMINATION              755106
NFLAG_INSURED_ON_APPROVAL     561106
dtype: int64

In [12]:
prev.dropna(thresh=len(prev) * 0.4, axis='columns', inplace=True)

In [13]:
prev.loc[prev['AMT_CREDIT'].isnull(),'AMT_CREDIT'] = prev['AMT_APPLICATION']
prev[prev['SK_ID_PREV'] == 2204450]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
233370,2204450,Revolving loans,0.0,0.0,0.0,NaN,NaN,FRIDAY,10,Y,1,NaN,XAP,Approved,-608,XNA,XAP,NaN,Repeater,XNA,Cards,walk-in,Country-wide,20,Connectivity,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,57493

In [15]:
prev.to_csv(r'C:\Users\Admin\Desktop\Final data prep\cleaned_data\prev_application.csv')

#### Có 3 cột bị xóa là DAYS_FIRST_DRAWING, RATE_INTEREST_PRIVILEGED, RATE_INTEREST_PRIMARY lượng null quá 90%

In [16]:
prev[prev['AMT_APPLICATION'] != prev['AMT_GOODS_PRICE']]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
7,2517198,Revolving loans,11250.0,0.0,225000.0,NaN,NaN,TUESDAY,13,Y,1,NaN,XAP,Approved,-957,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card X-Sell,-673.0,NaN,-461.0,-61.0,0.0,91587
12,1200676,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,256489
27,1445789,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,9,Y,1,NaN,XNA,Canceled,-218,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,298048
33,1069859,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,9,Y,1,NaN,XNA,Canceled,-218,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,298048
37,1247679,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,11,Y,1,NaN,XNA,Canceled,-252,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,175214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413475,1103408,Revolving loans,6750.0,0.0,135000.0,NaN,NaN,FRIDAY,10,Y,1,NaN,XAP,Approved,-2730,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,0,XNA,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,0.0,62657
1413551,1238888,Revolving loans,3375.0,0.0,67500.0,NaN,NaN,SATURDAY,8,Y,1,NaN,XAP,Approved,-2614,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Country-wide,5,Connectivity,0.0,XNA,Card Street,-2547.0,NaN,-508.0,NaN,0.0,200760
1413614,1330785,Revolving loans,3375.0,0.0,67500.0,NaN,NaN,SUNDAY,4,Y,1,NaN,XAP,Approved,-2716,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card Street,-2654.0,NaN,-2135.0,-759.0,0.0,109183
1413651,1478908,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,17,Y,1,NaN,XNA,Canceled,-194,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,99821
1413700,1944034,Cash loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,288814

In [17]:
prev[(prev['AMT_APPLICATION'] !=0) & (prev['AMT_APPLICATION'] != prev['AMT_GOODS_PRICE'])]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
11455,1074427,Revolving loans,13500.0,135000.0,270000.0,NaN,270000.0,TUESDAY,9,N,1,NaN,XAP,Refused,-252,XNA,HC,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,281902
11456,2171166,Revolving loans,13500.0,135000.0,270000.0,NaN,270000.0,WEDNESDAY,14,N,1,NaN,XAP,Refused,-223,XNA,HC,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,281902
22119,1323805,Revolving loans,22500.0,765000.0,900000.0,NaN,450000.0,SATURDAY,12,N,0,NaN,XAP,Refused,-328,XNA,HC,NaN,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,188142
22120,1702411,Revolving loans,22500.0,765000.0,450000.0,NaN,450000.0,SATURDAY,12,N,1,NaN,XAP,Refused,-328,XNA,HC,NaN,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,188142
26793,1326197,Revolving loans,9000.0,270000.0,180000.0,NaN,180000.0,SATURDAY,13,N,1,NaN,XAP,Refused,-243,XNA,HC,Unaccompanied,Refreshed,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,245311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322223,1396960,Revolving loans,11250.0,225000.0,225000.0,NaN,337500.0,MONDAY,8,N,1,NaN,XAP,Refused,-13,XNA,HC,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,188093
1322229,1197086,Revolving loans,11250.0,225000.0,337500.0,NaN,337500.0,MONDAY,8,N,0,NaN,XAP,Refused,-13,XNA,HC,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,188093
1324469,1601583,Revolving loans,18000.0,405000.0,360000.0,NaN,360000.0,MONDAY,14,N,1,NaN,XAP,Refused,-165,XNA,HC,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,108923
1328096,1804870,Revolving loans,7875.0,450000.0,157500.0,NaN,157500.0,TUESDAY,14,N,1,NaN,XAP,Refused,-235,XNA,HC,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,0,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,197694
1382750,1408589,Revolving loans,36000.0,270000.0,720000.0,NaN,720000.0,THURSDAY,10,N,1,NaN,XAP,Refused,-483,XNA,HC,NaN,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,84594

In [18]:
prev[(prev['AMT_APPLICATION'] ==0) & (prev['AMT_APPLICATION'] != prev['AMT_GOODS_PRICE'])]

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
7,2517198,Revolving loans,11250.0,0.0,225000.0,NaN,NaN,TUESDAY,13,Y,1,NaN,XAP,Approved,-957,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card X-Sell,-673.0,NaN,-461.0,-61.0,0.0,91587
12,1200676,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,256489
27,1445789,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,9,Y,1,NaN,XNA,Canceled,-218,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,298048
33,1069859,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,9,Y,1,NaN,XNA,Canceled,-218,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,298048
37,1247679,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,11,Y,1,NaN,XNA,Canceled,-252,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,175214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413475,1103408,Revolving loans,6750.0,0.0,135000.0,NaN,NaN,FRIDAY,10,Y,1,NaN,XAP,Approved,-2730,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,0,XNA,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,0.0,62657
1413551,1238888,Revolving loans,3375.0,0.0,67500.0,NaN,NaN,SATURDAY,8,Y,1,NaN,XAP,Approved,-2614,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Country-wide,5,Connectivity,0.0,XNA,Card Street,-2547.0,NaN,-508.0,NaN,0.0,200760
1413614,1330785,Revolving loans,3375.0,0.0,67500.0,NaN,NaN,SUNDAY,4,Y,1,NaN,XAP,Approved,-2716,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card Street,-2654.0,NaN,-2135.0,-759.0,0.0,109183
1413651,1478908,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,17,Y,1,NaN,XNA,Canceled,-194,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,99821
1413700,1944034,Cash loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,XNA,Canceled,-148,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,288814